* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  color: #fcf2e4;
  font-family: Arial, Helvetica, sans-serif; }

img {
  display: block; }

table {
  margin: 10px auto; }

h1, h2, h3, p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

h1 {
  font-size: 60px;
  font-family: "Reaver",serif;
  letter-spacing: 5px;
  font-weight: 800;
  color: #fde5d8ee;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000; }

p, label {
  font-size: 18px; }

section img {
  width: 50%;
  margin: 10px auto; }

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 5fr 0.2fr;
  gap: 4px 0px;
  grid-template-areas: "header header" "main main" "footer footer"; }

/* ------------ MAIN --------------- */
.main {
  grid-area: main; }

/* variables */
/* ------------ EXTEND --------------- */
.titulo, .sectionIndexOne h2, .sectionIndexTwo h2, .sectionIndexThree h2 {
  font-family: "Reaver", serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000; }

.sectionIndexOne h2, .sectionIndexTwo h2, .sectionIndexThree h2 {
  font-size: 40px;
  font-weight: 600;
  color: #c5a99aee; }

/* ------------ MIXIN --------------- */
/* ------------ MAPAS --------------- */
.btn-fuerza {
  background-color: #ff9900; }

.btn-agilidad {
  background-color: #ffd900; }

.btn-inteligencia {
  background-color: #ffc0c0; }

.clases button:active {
  background-color: wheat; }

/* ------------ HEADER Y NAV --------------- */
.header {
  grid-area: header; }
  .header .navbar {
    font-size: 20px;
    letter-spacing: 3px;
    color: #fadecfee;
    font-family: "Radiance","Noto Sans",sans-serif; }
    .header .navbar a img {
      height: 20%;
      width: 20%;
      margin-left: 20px; }
    .header .navbar ul li {
      padding-right: 40px;
      margin-right: 20px;
      text-transform: uppercase;
      font-weight: 500; }
      .header .navbar ul li a:hover {
        background-color: #ffbc40; }

/* INDEX */
.sectionIndexOne {
  background-image: url("/images/mapa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

.card {
  width: 50rem;
  border: 0px;
  margin: auto auto;
  text-align: center;
  background-color: transparent; }
  .card img {
    width: 50rem; }

.titulo, .sectionIndexOne h2, .sectionIndexTwo h2, .sectionIndexThree h2 {
  font-size: 50px;
  font-weight: 700;
  color: #fadecfee; }

.sectionIndexOne h2, .sectionIndexTwo h2, .sectionIndexThree h2 {
  font-size: 40px;
  font-weight: 600;
  color: #c5a99aee; }

.sectionIndexOne span, .sectionIndexTwo span, .sectionIndexThree span {
  font-size: 50px;
  font-family: "Reaver", serif;
  letter-spacing: 5px;
  font-weight: 600;
  color: #fadecfee;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000; }

.sectionIndexOne p, .sectionIndexTwo p {
  font-size: 26px;
  font-family: "Radiance","Noto Sans",sans-serif;
  color: #fadecfee;
  font-weight: 200; }

.sectionIndexOne div p, .sectionIndexTwo div p {
  text-align: left;
  margin: 30px 20px 0 5px;
  font-size: 20px;
  font-weight: 200; }

.sectionIndexTwo {
  background-image: url("/images/roshan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .sectionIndexTwo h3 {
    font-size: 42px;
    font-family: "Reaver", serif;
    letter-spacing: 3px;
    font-weight: 600;
    color: #ffffffee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000; }

.sectionIndexThree {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/background4.png");
  margin: 50px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

.cardSectionIndexThree, .cardSectionIndexThree .titulo, .cardSectionIndexThree .sectionIndexOne h2, .sectionIndexOne .cardSectionIndexThree h2, .cardSectionIndexThree .sectionIndexTwo h2, .sectionIndexTwo .cardSectionIndexThree h2, .cardSectionIndexThree .sectionIndexThree h2, .sectionIndexThree .cardSectionIndexThree h2 {
  width: 50rem;
  border: 0px;
  margin: auto auto;
  text-align: left;
  background-color: transparent; }

.sectionIndexFour {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/dpc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 5px 20px; }

.list-group-item {
  background-color: transparent;
  margin: auto 10%;
  color: wheat; }

.sectionLista {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center; }
  .sectionLista div {
    padding: 10px 100px; }
    .sectionLista div img {
      width: 130px; }
  .sectionLista h5 {
    text-align: center; }

/* ITEMS y SKILLS */
.items div h1 {
  font-size: 60px;
  font-family: "Reaver", serif;
  letter-spacing: 5px;
  font-weight: 800;
  color: #fadecfee;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000; }

.items h2 {
  font-size: 40px;
  font-family: "Reaver", serif;
  letter-spacing: 4px;
  font-weight: 600;
  color: #fadecfee;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000; }

.items h3 {
  font-size: 30px;
  font-family: "Reaver", serif;
  letter-spacing: 3px;
  font-weight: 500;
  color: #fadecfee;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000; }

.items ul {
  columns: 2;
  list-style-type: none;
  margin-left: 30%; }
  .items ul li a {
    text-decoration: none;
    color: #fadecfee;
    font-family: "Reaver", serif; }
    .items ul li a:hover {
      background-color: #fc7363; }
    .items ul li a:visited {
      color: purple; }

.items p {
  margin: auto 50px; }

.items .separadorGrande {
  width: 800px;
  margin: 20px auto;
  border: none;
  border-bottom: 3px solid #fadecfee; }

.items .separadorChico {
  width: 200px;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid #fadecfee; }

/* TIENDA */
.tiendaOnline {
  background-image: url("/images/comerciante-dota2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

.table {
  display: flex;
  justify-content: center; }
  .table tr {
    background-color: #969696; }
    .table tr td a {
      color: #ecaf3e; }
      .table tr td a:active {
        color: orange; }
      .table tr td a:visited {
        color: purple; }

.tienda p a {
  color: #ecaf3e; }
  .tienda p a:active {
    color: orange; }
  .tienda p a:visited {
    color: purple; }

/* CONTACTO */
.contacto {
  background-image: url("/images/Dota-2-fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: auto 60px;
  padding: 10px 20px; }
  .contacto h1 {
    text-align: left; }
  .contacto form div h2, .contacto form h3, .contacto form h4, .contacto form p {
    text-align: left;
    padding-bottom: 10px; }

/* ABOUT US */
.sectionAboutus h1, .sectionAboutus h2 {
  text-align: center; }

.sectionAboutus p {
  text-align: center;
  margin: auto 50px; }

.sectionAboutus ul {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 5px 10px; }
  .sectionAboutus ul li a img {
    width: 30%;
    height: 30%; }
  .sectionAboutus ul li h2 {
    margin-bottom: 10px; }

.videoAboutUs {
  display: flex;
  justify-content: space-around; }
  .videoAboutUs video {
    width: 500px;
    margin: 20px 10px 10px 20px; }
  .videoAboutUs div h2, .videoAboutUs div p {
    flex-direction: column; }
  .videoAboutUs div p {
    text-align: left;
    margin: 30px 20px 0 5px;
    font-size: 20px; }
  .videoAboutUs div h2 {
    text-align: left;
    margin: 30px 20px 0 5px; }
  .videoAboutUs div a {
    text-decoration: none;
    color: orange; }

/* ------------ FOOTER --------------- */
.footer {
  width: 100%;
  padding: 20px 20px 0 20px;
  background-color: #fa8072;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: footer; }
  .footer .footerLogo {
    display: flex;
    flex-direction: column; }
    .footer .footerLogo img {
      height: 60px;
      width: 200px;
      margin: auto; }
    .footer .footerLogo p {
      width: 500px; }
  .footer .footerRedes {
    display: flex; }
    .footer .footerRedes a img {
      width: 35px;
      margin: 40px; }

/* ------------ ANIMACIONES y TRANSFORMACIONES --------------- */
.sectionLista div img {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear; }

.sectionLista div img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.translateY {
  animation: translateY;
  animation-duration: 3s; }

@keyframes translateY {
  0% {
    transform: translateY(30px); }
  50% {
    transform: translateY(0px); }
  75% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0px); } }

.translate:hover {
  animation-name: translate;
  animation-duration: 6s; }

@keyframes translate {
  25% {
    transform: translateX(100px); }
  50% {
    transform: translateX(0px); }
  75% {
    transform: translateX(-100px); }
  100% {
    transform: translateX(0px); } }

.rotate:hover {
  animation-name: rotate;
  animation-duration: 3s; }

@keyframes rotate {
  25% {
    transform: skewX(10deg); }
  50% {
    transform: skewX(0deg); }
  75% {
    transform: skewX(-10deg); }
  100% {
    transform: skewX(0px); } }

.animacionContacto {
  display: flex;
  overflow: hidden;
  height: 42px;
  font-size: 30px;
  line-height: 42px;
  margin: auto; }

.animacionContacto ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 6s infinite; }

.animacionContacto h2, ul {
  margin: 0%;
  padding: 0%; }

@keyframes cambiar {
  0% {
    margin-top: 0%; }
  20% {
    margin-top: 0%; }
  25% {
    margin-top: -43px; }
  50% {
    margin-top: -43px; }
  55% {
    margin-top: -85px; }
  80% {
    margin-top: -85px; }
  85% {
    margin-top: -43px; }
  95% {
    margin-top: -43px; }
  100% {
    margin-top: 0%; } }

/* ------------ MEDIA QUERIES --------------- */
@media screen and (max-width: 1000px) {
  .gridContainer {
    grid-template-rows: 0.2fr auto 0.6fr; }
  .header .navbar a img {
    margin-left: 50px; }
  .header .navbar ul li {
    padding-right: 0px;
    margin-right: 0px;
    text-align: center; }
  .header .navbar-nav {
    display: flex;
    flex-direction: column; }
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px; }
  .sectionIndexOne div {
    flex-direction: column; }
  .sectionIndexOne div img, .sectionIndexTwo div img {
    width: 70%;
    margin: 10px auto; }
  .separadorGrande {
    width: 600px; }
  .videoAboutUs {
    display: block; }
  .videoAboutUs video {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 10px auto; }
  .footer {
    flex-direction: column; }
  .sectionAboutus ul {
    display: flex;
    flex-direction: column; }
  .sectionAboutus ul li {
    flex-direction: column; }
  .animacionContacto ul {
    height: 0px;
    font-size: 0px;
    line-height: 0px; } }

@media screen and (max-width: 850px) {
  .card {
    width: 30rem; }
  .card img {
    width: 30rem; }
  .sectionIndexOne h1 {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 700; }
  .sectionIndexOne h2 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 500; }
  .sectionIndexOne p {
    font-size: 20px; }
  .separadorGrande {
    width: 500px; } }

@media screen and (max-width: 700px) {
  .gridContainer {
    grid-template-rows: 0.2fr auto 0.5fr; }
  .sectionIndexOne h1 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300; } }

@media screen and (max-width: 534px) {
  .gridContainer {
    grid-template-rows: 0.2fr auto 0.6fr; }
  .items ul {
    margin-left: 20px; }
  .sectionIndexOne div img, .sectionIndexTwo div img {
    width: 50%;
    margin: 5px auto; } }

@media screen and (max-width: 496px) {
  .gridContainer {
    grid-template-rows: 0.3fr auto 0.6fr; }
  .separadorGrande {
    width: 300px; } }
