@import "./base/root";
@import "./base/variables";
@import "./componentes/header";
@import "./paginas/index";
@import "./paginas/itemsyskills";
@import "./paginas/tienda";
@import "./paginas/contacto";
@import "./paginas/aboutus";
@import "./componentes/footer";
/* ------------ ANIMACIONES y TRANSFORMACIONES --------------- */
.sectionLista div img{
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
}
.sectionLista div img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.translateY{
    animation: translateY;
    animation-duration: 3s;
}
@keyframes translateY{
    0%{transform: translateY(30px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(-30px);}
    100%{transform: translateY(0px);}
}
.translate:hover{
    animation-name: translate;
    animation-duration: 6s;
}
@keyframes translate{
    25%{transform: translateX(100px);}
    50%{transform: translateX(0px);}
    75%{transform: translateX(-100px);}
    100%{transform: translateX(0px);}
}
.rotate:hover{
    animation-name: rotate;
    animation-duration: 3s;
}
@keyframes rotate{
    25%{transform: skewX(10deg);}
    50%{transform: skewX(0deg);}
    75%{transform: skewX(-10deg);}
    100%{transform: skewX(0px);}
}
.animacionContacto{
    display: flex;
    overflow: hidden;
    height: 42px;
    font-size: 30px;
    line-height: 42px;
    margin: auto;
}
.animacionContacto ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 6s infinite;
}
.animacionContacto h2, ul{
    margin: 0%;
    padding: 0%;
}
@keyframes cambiar{
    0%{margin-top: 0%;}
    20%{margin-top: 0%;}
    25%{margin-top: -43px;}
    50%{margin-top: -43px;}
    55%{margin-top: -85px;}
    80%{margin-top: -85px;}
    85%{margin-top: -43px;}
    95%{margin-top: -43px;}
    100%{margin-top: 0%;}
}
/* ------------ MEDIA QUERIES --------------- */
@media screen and (max-width: 1000px){
    .gridContainer {
        grid-template-rows: 0.2fr auto 0.6fr;
    }
    .header{
        .navbar{
            a{
                img{
                    margin-left: 50px;
                }
            }
            ul{
                li{
                    padding-right: 0px;
                    margin-right: 0px;
                    text-align: center;
                }
            }
        }
        .navbar-nav{
            display: flex;
            flex-direction: column;
        }
    }
    .container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    }
    .sectionIndexOne div{
        flex-direction: column;
    }
    .sectionIndexOne div img, .sectionIndexTwo div img{
        width: 70%;
        margin: 10px auto;
    }
    .items{
        .separadorGrande{
            width: 600px;
        }
    }
    .videoAboutUs{
        display: block;
    }
    .videoAboutUs video{
        display: flex;
        justify-content: center;
        width: 300px;
        margin: 10px auto;
    }
    .footer{
        flex-direction: column;
    }
    .sectionAboutus ul{
        display: flex;
        flex-direction: column;
    }
    .sectionAboutus ul li{
        flex-direction: column;
    }
    .animacionContacto ul{
        height: 0px;
        font-size: 0px;
        line-height: 0px;
    }
}
@media screen and (max-width: 850px) {
    .card{
        width: 30rem;
    }
    .card img{
        width: 30rem;
    }
    .sectionIndexOne h1{
        font-size: 50px;
        letter-spacing: 4px;
        font-weight: 700;
    }
    .sectionIndexOne h2{
        font-size: 40px;
        letter-spacing: 4px;
        font-weight: 500;
    }
    .sectionIndexOne p{
        font-size: 20px;
    }
    .items{
        .separadorGrande{
            width: 400px;
        }
    }
    .contacto{
        margin: auto 5px;
    }
}
@media screen and (max-width: 700px){
    .gridContainer {
        grid-template-rows: 0.2fr auto 0.5fr; 
    }
    .sectionIndexOne h1{
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: 500;
    }
    .sectionAboutus{
        ul{
            li{
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 550px){
    .gridContainer {
        grid-template-rows: 0.2fr auto 0.6fr; 
    }
    .sectionIndexOne, .sectionIndexTwo, .sectionIndexThree{
        margin: 0px 5px 10px 5px
    }
    .sectionIndexOne div img, .sectionIndexTwo div img{
        width: 18rem;
        margin: 5px auto;
    }
    .card{
        @include size (18rem, 0px);
        img{
            width: 18rem;
        }
    }
    .titulo{
        font-size: 20px;
        font-weight: 200;
    }
    .sectionIndexOne h2, .sectionIndexTwo h2, .sectionIndexThree h2{
        font-size: 30px;
        font-weight: 400;
    }
    .sectionIndexTwo{
        h3{
            font-size: 30px;
            letter-spacing: 2px;
            font-weight: 400;
        }
    }
    .sectionIndexOne span, .sectionIndexTwo span, .sectionIndexThree span{
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .sectionIndexOne p, .sectionIndexTwo p{
        font-size: 10px;
        font-weight: 100;
    }
    .sectionIndexOne div p, .sectionIndexTwo div p{
        text-align: left;
        margin: 30px 20px 0 5px;
        font-size: 20px;
        font-weight: 200;
    }
    .items ul{
        margin-left: 20px
    }
}
@media screen and (max-width: 496px){
    .gridContainer {
        grid-template-rows: 0.3fr auto 0.6fr; 
    }
    .items{
        .separadorGrande{
            width: 200px;
        }
    }
    .contacto{
        padding: 5px 10px;
        h1{
            font-size: 40px;
        }
    }
    .footer{
        padding: 10px 10px 0 10px;
        .footerLogo{
            img{
                height: 50px;
            }
            p{
                width: 400px;
            }
        }
        .footerRedes{
            a img{
                margin: 0px 30px 30px 30px;
            }
        }
    }
}
@media screen and (max-width: 420px){
    .sectionIndexOne h1{
        font-size: 26px;
        letter-spacing: 2px;
        font-weight: 250;
    }
    .sectionIndexOne div img, .sectionIndexTwo div img{
        width: 16rem;
    }
    .items{
        div{
            h1{
                font-size: 50px;
                letter-spacing: 4px;
                font-weight: 600;
            }
        }
        h2{
            font-size: 30px;
            letter-spacing: 3px;
            font-weight: 500;
        }
        h3{
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: 400;
        }
        p{
            margin: auto 10px;
        }
        .separadorGrande{
            width: $separador/4;
            margin: 10px auto;
            border-bottom: 3px;
        }
        .separadorChico{
            width: $separador/5;
            margin: 10px auto;
            border-bottom: 2px;
        }
        ul{
            margin-left: 10px
        }
    }
    .sectionAboutus{
        h1{
            font-size: 50px;
        }
        ul{
            li{
                a{
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
        .videoAboutUs video{
            width: 250px;
            margin: 10px auto;
        }
    }
    .footer{
        .footerLogo{
            img{
                height: 50px;
            }
            p{
                width: 280px;
            }
        }
        .footerRedes{
            a img{
                margin: 0px 20px 20px 20px;
            }
        }
    }
}
