/* ------------ HEADER Y NAV --------------- */
.header{
    grid-area: header;
    .navbar{
        font-size: 20px;
        letter-spacing: 3px;
        color: #fadecfee;
        font-family: "Radiance","Noto Sans",sans-serif;
        a{
            img{
                height: 20%;
                width: 20%;
                margin-left: 20px;
            }
        }
        ul{
            li{
                padding-right: 40px;
                margin-right: 20px;
                text-transform: uppercase;
                font-weight: 500;
                a{
                    &:hover{
                        background-color: rgb(255, 188, 64);
                    }
                }
            }
        }
    }
}