/* ITEMS y SKILLS */
.items div h1{
    font-size: 60px;
    font-family: "Reaver",serif;
    letter-spacing: 5px;
    font-weight: 800;
    color: #fadecfee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}
.items{
    h2{
        font-size: 40px;
        font-family: "Reaver",serif;
        letter-spacing: 4px;
        font-weight: 600;
        color: #fadecfee;
        text-transform: uppercase;
        text-shadow: 0px 0px 20px #000;
    }
    h3{
        font-size: 30px;
        font-family: "Reaver",serif;
        letter-spacing: 3px;
        font-weight: 500;
        color: #fadecfee;
        text-transform: uppercase;
        text-shadow: 0px 0px 20px #000;
    }
    ul{
        columns: 2;
        list-style-type: none;
        margin-left: 30%;
        li a{
            text-decoration: none;
            color: #fadecfee;
            font-family: "Reaver",serif;
        }
    }
    p{
        margin: auto 50px;
    }
}
.items ul li a:hover{
    background-color: #fc7363;
}
.items ul li a:visited{
    color: purple;
}
.separadorGrande{
    width: 800px;
    margin: 20px auto;
    color: pink;
}
.separadorChico{
    width: 200px;
    margin: 20px auto;
    color: pink;
}