/* variables */
$color: #fadecfee;
$font: "Reaver",serif;
$shadow: 0px 0px 20px #000;

/* INDEX */
.sectionIndexOne{
    background-image: url("/images/dota2-mapa.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.card{
    width: 50rem; 
    margin: auto auto;
    text-align: center;
    background-color: transparent;
    border: 0px;
    img{
        width: 50rem;
    }
}
.titulo{
    font-size: 50px;
    font-family: $font;
    letter-spacing: 5px;
    font-weight: 700;
    color: $color;
    text-transform: uppercase;
    text-shadow: $shadow;
}
.sectionIndexOne h2, .sectionIndexTwo h2, .sectionIndexThree h2{
    font-size: 40px;
    font-family: $font;
    letter-spacing: 5px;
    font-weight: 600;
    color: #c5a99aee;
    text-transform: uppercase;
    text-shadow: $shadow;
}
.sectionIndexOne span, .sectionIndexTwo span, .sectionIndexThree span{
    font-size: 50px;
    font-family: $font;
    letter-spacing: 5px;
    font-weight: 600;
    color: $color;
    text-transform: uppercase;
    text-shadow: $shadow;
}
.sectionIndexOne p, .sectionIndexTwo p{
    font-size: 26px;
    font-family: "Radiance","Noto Sans",sans-serif;
    color: $color;
    font-weight: 200;
}
.sectionIndexOne div p, .sectionIndexTwo div p{
    text-align: left;
    margin: 30px 20px 0 5px;
    font-size: 20px;
    font-weight: 200;
}
.sectionIndexTwo{
    background-image: url("/images/dota2-heroes.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    h3{
        font-size: 42px;
        font-family: $font;
        letter-spacing: 3px;
        font-weight: 600;
        color: #ffffffee;
        text-transform: uppercase;
        text-shadow: $shadow;
    }
}
.sectionIndexThree{
    background-image: url("/images/prueba.jpg");
    margin: 50px 20px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.cardSectionIndexThree, .cardSectionIndexThree .titulo{
    width: 50rem; 
    margin: auto auto;
    text-align: left;
    background-color: transparent;
    border: 0px;
}
.list-group-item{
    background-color: rgb(150, 150, 150);
    margin: auto 10%;
}
.sectionLista{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    div{
        padding: 10px 100px;
        img{
            width: 130px;
        }
    }
    h5{
        text-align: center;
    }
}
/* ITEMS y SKILLS */
.items{
    div{
        h1{
            font-size: 60px;
            font-family: $font;
            letter-spacing: 5px;
            font-weight: 800;
            color: $color;
            text-transform: uppercase;
            text-shadow: $shadow;
        }
    }
    h2{
        font-size: 40px;
        font-family: $font;
        letter-spacing: 4px;
        font-weight: 600;
        color: $color;
        text-transform: uppercase;
        text-shadow: $shadow;
    }
    h3{
        font-size: 30px;
        font-family: $font;
        letter-spacing: 3px;
        font-weight: 500;
        color: $color;
        text-transform: uppercase;
        text-shadow: $shadow;
    }
    ul{
        columns: 2;
        list-style-type: none;
        margin-left: 30%;
        li{
            a{
                text-decoration: none;
                color: $color;
                font-family: $font;
                &:hover{
                    background-color: #fc7363;
                }
                &:visited{
                    color: purple;
                }
            }
        }
    }
    p{
        margin: auto 50px;
    }
    .separadorGrande{
        width: 800px;
        margin: 20px auto;
        color: pink;
    }
    .separadorChico{
        width: 200px;
        margin: 20px auto;
        color: pink;
    }
}
/* TIENDA */
.table{
    display: flex;
    justify-content: center;
    tr{
        background-color: rgb(150, 150, 150);
        td{
            a{
                color: rgb(236, 175, 62);
                &:active{
                    color: orange;
                }
                &:visited{
                    color: purple;
                }
            }
        }
    }
}
.tienda{
    p{
        a{
            color: rgb(236, 175, 62);
            &:active{
                color: orange;
            }
            &:visited{
                color: purple;
            }
        }
    }
}
/* CONTACTO */
.contacto{
    margin: auto 50px;
    padding: 10px 20px;
    h1{
        text-align: left;
    }
    form div h2, form h3, form h4, form p{
            text-align: left;
            padding-bottom: 10px;
    }
}
/* ABOUT US */
.sectionAboutus{
    h1, h2{
    text-align: center;
    }
    p{
        text-align: center;
        margin: auto 50px;
    }
    ul{
        width: 100%;
        margin: auto;
        list-style: none;
        padding: 5px 10px;
        li{
            a{
                img{
                    width: 30%;
                    height: 30%;
                }
            }
            h2{
                margin-bottom: 10px;
            }
        }
    }
}
.videoAboutUs{
    display: flex;
    justify-content: space-around;
    video{
        width: 500px;
        margin: 20px 10px 10px 20px;
    }
    div{
        h2,p{
            flex-direction: column;
        }
        p{
            text-align: left;
            margin: 30px 20px 0 5px;
            font-size: 20px;
        }
        h2{
            text-align: left;
            margin: 30px 20px 0 5px;
        }
        a{
            text-decoration: none;
            color: orange;
        }
    }
}