/* TIENDA */
.table{
    display: flex;
    justify-content: center;
    tr{
        background-color: rgb(150, 150, 150);
        td a{
            color: rgb(236, 175, 62);
        }
        td a:active{
            color: orange;
        }
        td a:visited{
            color: purple;
        }
    }
}
.tienda{
    p a{
        color: rgb(236, 175, 62);
    }
    p a:active{
        color: orange;
    }
    p a:visited{
        color: purple;
    }
}