@import "header";
@import "index";
@import "items-skills";
@import "tienda";
@import "contacto";
@import "aboutus";
@import "footer";
// ------------ ROOT Y GENERALES ---------------
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: rgb(252, 242, 228);
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
}
table{
    margin: 10px auto;
}
h1, h2, h3, p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    font-size: 60px;
    font-family: "Reaver",serif;
    letter-spacing: 5px;
    font-weight: 800;
    color: #fde5d8ee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}
p, label{
    font-size: 18px;
}
section img{
    width: 50%;
    margin: 10px auto;
}
.gridContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.1fr 5fr 0.2fr; 
    gap: 4px 0px; 
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"; 
}
/* ------------ MAIN --------------- */
.main{
    grid-area: main;
}
/* ------------ ANIMACIONES y TRANSFORMACIONES --------------- */
.sectionLista div img{
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
}
.sectionLista div img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.translateY{
    animation: translateY;
    animation-duration: 3s;
}
@keyframes translateY{
    0%{transform: translateY(30px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(-30px);}
    100%{transform: translateY(0px);}
}
.translate:hover{
    animation-name: translate;
    animation-duration: 6s;
}
@keyframes translate{
    25%{transform: translateX(100px);}
    50%{transform: translateX(0px);}
    75%{transform: translateX(-100px);}
    100%{transform: translateX(0px);}
}
.rotate:hover{
    animation-name: rotate;
    animation-duration: 3s;
}
@keyframes rotate{
    25%{transform: skewX(10deg);}
    50%{transform: skewX(0deg);}
    75%{transform: skewX(-10deg);}
    100%{transform: skewX(0px);}
}
.animacionContacto{
    display: flex;
    overflow: hidden;
    height: 42px;
    font-size: 30px;
    line-height: 42px;
    margin: auto;
}
.animacionContacto ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 6s infinite;
}
.animacionContacto h2, ul{
    margin: 0%;
    padding: 0%;
}
@keyframes cambiar{
    0%{margin-top: 0%;}
    20%{margin-top: 0%;}
    25%{margin-top: -43px;}
    50%{margin-top: -43px;}
    55%{margin-top: -85px;}
    80%{margin-top: -85px;}
    85%{margin-top: -43px;}
    95%{margin-top: -43px;}
    100%{margin-top: 0%;}
}
/* ------------ MEDIA QUERIES --------------- */
@media screen and (max-width: 1000px){
    .gridContainer {
        grid-template-rows: 0.2fr 6fr 0.6fr; 
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    .container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    }
    .sectionIndexOne div{
        flex-direction: column;
    }
    .sectionIndexOne div img, .sectionIndexTwo div img{
        width: 70%;
        margin: 10px auto;
    }
    .separadorGrande{
        width: 600px;
    }
    .videoAboutUs{
        display: block;
    }
    .videoAboutUs video{
        display: flex;
        justify-content: center;
        width: 300px;
        margin: 10px auto;
    }
    .footer{
        flex-direction: column;
    }
    .sectionAboutus ul{
        display: flex;
        flex-direction: column;
    }
    .sectionAboutus ul li{
        flex-direction: column;
    }
    .animacionContacto ul{
        height: 0px;
        font-size: 0px;
        line-height: 0px;
    }
}
@media screen and (max-width: 850px) {
    .card{
        width: 30rem;
    }
    .card img{
        width: 30rem;
    }
    .sectionIndexOne h1{
        font-size: 50px;
        letter-spacing: 4px;
        font-weight: 700;
    }
    .sectionIndexOne h2{
        font-size: 40px;
        letter-spacing: 4px;
        font-weight: 500;
    }
    .sectionIndexOne p{
        font-size: 20px;
    }
    .separadorGrande{
        width: 500px;
    }
}
@media screen and (max-width: 700px){
    .gridContainer {
        grid-template-rows: 0.2fr 7fr 0.5fr; 
    }
    .sectionIndexOne h1{
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 300;
    }
    .separadorGrande{
        width: 500px;
    }
}
@media screen and (max-width: 534px){
    .gridContainer {
        grid-template-rows: 0.2fr 8fr 0.6fr; 
    }
}
@media screen and (max-width: 496px){
    .gridContainer {
        grid-template-rows: 0.3fr 9fr 0.6fr; 
    }
    .separadorGrande{
        width: 300px;
    }
}