// ------------ ROOT ---------------
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// ------------ GENERALES ---------------
body{
    background-color: black;
    color: rgb(252, 242, 228);
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
}
table{
    margin: 10px auto;
}
h1, h2, h3, p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    font-size: 60px;
    font-family: "Reaver",serif;
    letter-spacing: 5px;
    font-weight: 800;
    color: #fde5d8ee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}
p, label{
    font-size: 18px;
}
section img{
    width: 50%;
    margin: 10px auto;
}
.gridContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.1fr auto 0.2fr; 
    gap: 4px 0px; 
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"; 
}
/* ------------ MAIN --------------- */
.main{
    grid-area: main;
}