/* CONTACTO */
.contacto{
    margin: auto 50px;
    padding: 10px 20px;
    h1{
        text-align: left;
    }
    form div h2, form h3, form h4, form p{
            text-align: left;
            padding-bottom: 10px;
    }
}