/* CONTACTO */
.contacto{
    background-image: url("/images/Dota-2-fondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: auto 60px;
    padding: 10px 20px;
    h1{
        text-align: left;
    }
    form div h2, form h3, form h4, form p{
            text-align: left;
            padding-bottom: 10px;
    }
}