/* ------------ HEADER Y NAV --------------- */
.header{
    grid-area: header;
    .navbar{
        font-size: 16px;
        letter-spacing: 3px;
        color: #fadecfee;
        font-family: "Radiance","Noto Sans",sans-serif;
        a{
            img{
                height: 16%;
                width: 16%;
                margin-left: 16px;
            }
        }
        ul{
            li{
                padding-right: 26px;
                margin-right: 16px;
                text-transform: uppercase;
                font-weight: 500;
                a{
                    &:hover{
                        background-color: rgb(255, 188, 64);
                    }
                }
            }
        }
    }
}